<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="blog_content">
                <h2>Oops</h2>
                <h3>Page not found :) </h3>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

    </html>