<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="About">
                <h2>About</h2>
                <h3>Who we are</h3>
                <p>We are the Leading Tech Products Producers<br>
                    Specializing in the Software solutions that you company may need.
                </p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>


    </html>